<div class="row" [hidden]="recipe == null">
  <div class="col-xs-12">
    <img [src]="recipe?.imagePaths[0]" alt="" class="img-responsive" style="max-height: 150px; max-width: 150px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe?.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipes <span class="caret"></span></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="addToShoppingList()">Add To Shopping List</a>
        <a class="dropdown-item" routerLink="/recipes/{{id}}/edit">Edit Recipe</a>
        <a class="dropdown-item" (click)="deleteRecipe(recipe.id)">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe?.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let i of recipe?.ingredients">
          {{i?.name}} ({{i?.amount}})
      </li>
    </ul>
  </div>
</div>
