<!-- <div app-server name='dev-majid' ip='192.1.1.1'></div> -->
<button [disabled]="allowAddNewServer === false" type="button" class="btn btn-primary" (click)="onAddButtonClick()">
  Add Server
</button>

<div class="servers-container">
  <p *ngIf="servers.length == 0; else hasServers">
    No servers created.
  </p>
  <div *ngFor="let server of servers; let i = index">
    current index {{i}}
    <app-server [server]=" server" (removeServer)="onRemoveServer($event)">
    </app-server>
  </div>
</div>

<ng-template #hasServers>
  <p>{{servers.length}} servers</p>
</ng-template>
