<!-- <div app-server name='dev-majid' ip='192.1.1.1'></div> -->
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Server Name" [(ngModel)]="currentServer.name" />
    <!-- 2 way binding, update automatically -->
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Server IP" [(ngModel)]="currentServer.ip" />
  </div>
  <div class="col">
    <select [(ngModel)]="currentServer.status" class="form-control">
      <option [ngValue]="status.Offline">Offline</option>
      <option [ngValue]="status.Online">Online</option>
    </select>
  </div>

  <div class="col">
    <select [(ngModel)]="currentServer.type" class="form-control">
      <option [ngValue]="serverType.TIER_1">Tier 1</option>
      <option [ngValue]="serverType.TIER_2">Tier 2</option>
    </select>
  </div>
</div>

<button [disabled]="allowAddNewServer === false" [hidden]="isEdit === true" type="button" class="btn btn-primary" (click)="onAddButtonClick()">
  Add Server
</button>

<button [hidden]="isEdit === false" type="button" class="btn btn-default">
  Update
</button>

<div class="servers-container">
  <p *ngIf="servers.length == 0; else hasServers">
    No servers created.
  </p>
  <div *ngFor="let server of servers; let i = index">
    current index {{i}}
    <app-server [server]="server" (edit)="onEditServer($event)"></app-server>
  </div>
</div>

<ng-template #hasServers>
  <p>{{servers.length}} servers</p>
</ng-template>

<app-panel>
  <div class="header">
    <h1>Header goes here</h1>
  </div>
  <div class="body">
    <h3 *ngIf="servers.length > 1">
      more than 1
    </h3>
  </div>
  <div class="footer">
    <p>Footer goes here!</p>
  </div>
</app-panel>