<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-header (viewChanged)="onViewChanged($event)"></app-header>
<div class="container">


  <app-recipes *ngIf="view == 'recipes'"></app-recipes>
  <app-shopping-list *ngIf="view == 'shopping-list'"></app-shopping-list> -->


  <!-- <app-servers></app-servers>
  <button type="button" class="btn btn-primary" (click)="onClick()">
    OnClick
  </button>
  <app-panel>
    <h1 class="header" #panel>HelloWorld</h1>
    <p class="body">Body</p>
    <h4 class="footer">Footer</h4>
  </app-panel> -->

  <h2>v1</h2>
  <p appHighlightv1>111</p>
  <p appHighlightv1>a</p>
  <p appHighlightv1>a</p>
  <p appHighlightv1>a</p>
  <p appHighlightv1>a</p>  
  <h2>v2</h2>
  <p appHighlightv2 defaultColor="yellow">a</p>
  <p appHighlightv2 defaultColor="yellow">a</p>
  <p appHighlightv2 defaultColor="yellow">a</p>
  <p appHighlightv2 defaultColor="yellow">a</p>
  <p appHighlightv2 defaultColor="yellow">a</p>