<!--The content below is only a placeholder and can be replaced.-->

<app-header (viewChanged)="onViewChanged($event)"></app-header>
<div class="container">


  <app-recipes *ngIf="view == 'recipes'"></app-recipes>
  <app-shopping-list *ngIf="view == 'shopping-list'"></app-shopping-list>


  <app-servers></app-servers>
  <button type="button" class="btn btn-primary" (click)="onClick()">
    OnClick
  </button>
  <app-panel>
    <h1 class="header" #panel>HelloWorld</h1>
    <p class="body">Body</p>
    <h4 class="footer">Footer</h4>
  </app-panel>
  <div class="preformatted"> Text in a pre element
      is displayed in a fixed-width
      font, and it preserves
      both      spaces and    Text in a pre element     Text in a pre element     Text in a pre element
      is displayed in a fixed-width
      font, and it preserves
      both      spaces and
      m a j
    i
    d \xF0\x9F\x98\x81
    Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and    Text in a pre element     Text in a pre element     Text in a pre element
is displayed in a fixed-width
font, and it pres
  </div>

 <pre>m a j
    i
    d \xF0\x9F\x98\x81
    Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and    Text in a pre element     Text in a pre element     Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks
line breaks     Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks
 </pre>
