<div class="row" [ngClass]="{online: server.status === status.Online}">
  <div class="col">
    <input
      type="text"
      class="form-control"
      placeholder="Server Name"
      [(ngModel)]="server.name" />
      <!-- 2 way binding, update automatically -->
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control"
      placeholder="Server IP"
      (input)="onUpdateField('ip',$event)" />
  </div>
  <div class="col">
      <select [(ngModel)]="server.status" class="form-control">
        <option [ngValue]="status.Offline">Offline</option>
        <option [ngValue]="status.Online">Online</option>
      </select>
  </div>
  <button type="button" (click)="onRemoveServer()" class="btn btn-primary">Remove</button>
</div>
{{server|json}}

