<div class="row">
  <div class="col">
    <input
      type="text"
      class="form-control"
      placeholder="Server Name"
      [value]="server.name" 
      readonly
      />
      <!-- 2 way binding, update automatically -->
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control"
      placeholder="Server IP"
      [value]="server.ip"
      readonly />
  </div>
  {{server.type}}
  {{server.status}}
  <button type="button" (click)="onEdit()" class="btn btn-primary">Edit</button>
</div>
{{num}}
<button type="button" (click)="onRandom()"></button>
{{server|json}}

